.fullheight {
  height: 100%;
}

body {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, red), color-stop(0.16, orange), color-stop(0.32, yellow), color-stop(0.48, green), color-stop(0.60, blue), color-stop(0.76, indigo), color-stop(1, violet));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);
}

div.spacer {
  height: 50%;
}

.nomargin {
  margin: 0;
}

.center {
  text-align: center;
}

h1#banner {
  margin-top: -100px;
  margin-bottom: 40px;
  line-height: 200px;
  font-size: 200px;
  color: hotpink;
  text-shadow: 0px 0px 15px rgba(255,255,255,1.0),
                -10px 10px 6px #00e6e6,
                 -20px 20px 6px #01cccc,
                 -30px 30px 6px #00bdbd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-family: arial;
}

#message {
  line-height: 40px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 15px rgba(255,255,255,1.0),
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-variant: small-caps;
}

#dance {
  padding: 10px 40px;
  margin: 20px auto;
  display: none;
}

#soundrop {
  width: 900px;
  height: 1200px;
  display: none;
  margin: 0 auto;
}
