.fullheight {
  height: 100%;
}

body {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, red), color-stop(0.16, orange), color-stop(0.32, yellow), color-stop(0.48, green), color-stop(0.60, blue), color-stop(0.76, indigo), color-stop(1, violet));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, red 0%, orange 16%, yellow 32%, green 48%, blue 60%, indigo 76%, violet 100%);

  text-align: center;
}

div.spacer {
  height: 50%;
}

.nomargin {
  margin: 0;
}

.center {
  text-align: center;
}

h1#banner {
  margin-top: -100px;
  margin-bottom: 40px;
  line-height: 200px;
  font-size: 200px;
  color: hotpink;
  text-shadow: 0px 0px 15px rgba(255,255,255,1.0),
                -10px 10px 6px #00e6e6,
                 -20px 20px 6px #01cccc,
                 -30px 30px 6px #00bdbd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-family: arial;
}

#message {
  line-height: 40px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 15px rgba(255,255,255,1.0),
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-variant: small-caps;
}

#dance {
  margin: 0px 100px 40px 100px;
  display: none;
}

/**
 * Awesome button shamelessly ripped from
 * http://cssdeck.com/labs/large-pressable-css-button
 */
.button {
  text-align: center;
  display: inline-block;
  margin: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ec528d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
  background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*-webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);*/
  /*-moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);*/
  /*box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);*/
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
  background-color: #ec6a9c;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button.active, .button:focus {
  -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.button.active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

img.butabi {
  height: 120px;
  vertical-align: middle;
  display: none;
}

#soundrop {
  width: 900px;
  height: 1200px;
  display: none;
  margin: 0 auto;
}

#tweetbox {
  display: none;
  font-family: arial;
  width: 700px;
  margin: 20px auto;
  height: 50px;
  position: relative;
}

#tweetbox ul,
#tweetbox li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tweetbox img {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  margin-right: 20px;
}

#tweetbox li {
  color: white;
  text-shadow: 1px 1px 1px #333;
  position: absolute;
  line-height: 25px;
  padding-left: 75px;
  text-align: left;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease; /* Firefox */
  -moz-transition: opacity 1s ease; /* WebKit */
  -o-transition: opacity 1s ease; /* Opera */
  transition: opacity 1s ease; /* Standard */
}

#tweetbox li.active {
  opacity: 1;
}
